:root {

    /*font families: Ysabeau SC (sc) & Raleway (rw)*/
    --font-style-ysc: 'Raleway', sans-serif;
    --font-style-rw: 'Ysabeau SC', sans-serif;

    /*font weights*/
    --font-weight-ex-thin: 1;
    /*font weight 1 for SC*/
    --font-weight-thin-sc: 100;
    /*font weight thin 100 SC*/
    --font-weight-thin-rw: 200;
    /*font weight extra light for RW*/
    --font-weight-bold: 600;
    /*font weight bold for SC & RW*/

    /* background colors */
    --main-bg-color: #1B6B93;
    --placeholder-color: black;
    /*placeholder color just to see if the styling is working*/
    --text-color-1: white;
    /* --text-color-2: ; */

    /* light border */
    --gray-border: 0.5px solid lightgray;

    /* buttons */
    --static-button-color: #1B6B93;
    --button-on-click-color: ;
    --success-button-color: ;
    --button-failed-color: ;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body {
    width: 100%;
    overflow: hidden;
    background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* start of mini navbar */
.mini-nav {
    height: 25px;
}

/* end of mini navbar */

.navbar {
    padding: 0 !important;
}

/* start of main navbar */
nav .container {
    max-width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    background-color: var(--main-bg-color);
}

nav .navbar-brand {
    /* positioning */
    height: 65px;
    display: flex;
    align-items: center;
    margin-left: 20px;

    /* content styling */
    text-decoration: none;
    color: var(--text-color-1);
    font-size: 30px;
    font-family: var(--font-style-ysc);
    font-weight: var(--font-weight-bold);
}

nav .navbar-brand img {
    width: 65px;
    margin-right: 10px;
}

.btn {
    background-color: transparent !important;
    border: transparent !important;
}

.btn_secondary {
    width: 10px !important;
}

button {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    padding: 0 !important;
}

button img {
    width: 40px;
    margin-right: 3px;
}

.dropdown span {
    display: block;
    width: 100px;
    height: 40px;
}

.dropdown {
    margin-right: 60px;
}

.dropdown-menu .show {
    position: relative;
    margin-top: 20px;
}

/* end of main navbar */

main {
    height: 700px;
    display: flex;
    flex-direction: row;
}

main .content-container {
    height: 650px;
    /* width: 1441px; */
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* start of currency converter section */
.currency-converter {
    width: 750px;
    height: 590px;
    margin: 40px 20px 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: var(--gray-border);
}

input {
    width: 450px;
    height: 50px;
    padding-left: 15px;

}

.enter button {
    width: -moz-fit-content;
    width: fit-content;

    padding: 6px !important;

    border-radius: var(--bs-border-radius);
    background-color: var(--static-button-color);
    color: var(--text-color-1);

    /* font-family: var(--font-style-ysc); */
}
/* end of currency converter section */

/* start of currency exchange rate section */
.value-container {
    width: 500px;
    height: 590px;
    margin: 40px 20px 40px 60px;

    border: var(--gray-border);
}
/* end of currency exchange rate section */
footer span {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .block {
    padding: 0 8px 0 5px;
}

.links ul {
    display: flex;
    justify-content: center;
    /* border: 0 1px 0 1px;
    border-style: 1px solid black; */
}

.links img {
    height: 20px;
    width: 20px;
    margin-right: 15px;
}