:root {

    /*font families: Ysabeau SC (sc) & Raleway (rw)*/
    --font-style-ysc: 'Raleway', sans-serif;
    --font-style-rw: 'Ysabeau SC', sans-serif;

    /*font weights*/
    --font-weight-ex-thin: 1; /*font weight 1 for SC*/
    --font-weight-thin-sc: 100; /*font weight thin 100 SC*/
    --font-weight-thin-rw: 200; /*font weight extra light for RW*/
    --font-weight-bold: 600; /*font weight bold for SC & RW*/

    /* background colors */
    --main-bg-color: #1B6B93;
    --placeholder-color: black; /*placeholder color just to see if the styling is working*/
    --text-color-1: white;
    /* --text-color-2: ; */
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body {
    overflow: hidden;
    background-color: white;
}

.mini-nav {
    height: 25px;
}

nav .container{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--main-bg-color);
}

nav .navbar-brand {
    /* positioning */
    height: 65px;
    display: flex;
    align-items: center;
    margin-left: 20px;

    /* content styling */
    text-decoration: none;
    color: var(--text-color-1);
    font-size: 30px;
    font-family: var(--font-style-ysc);
    font-weight: var(--font-weight-bold);
}

nav .navbar-brand img {
    width: 65px;
    margin-right: 10px;
}

main {
    height: 700px;
    display: flex;
    flex-direction: row;
}

main .content-container {
    height: 650px;
    width: 1441px;
    margin: 30px;

    background-color: var(--placeholder-color);
}

.currency-converter {

}

.value-container {

}
